---
layout: default
title:  Martino Sani's Blog
---

<div id="home">
  <h1>Blog posts</h1>

  {% assign postsByYear = site.posts | group_by_exp:"post", "post.date | date: '%Y'" %}
  {% for year in postsByYear %}
  <h2 class="subtitle">{{ year.name }}</h2>

  {% for post in year.items %}
  <div class="blog-posts">
    <a href="{{ post.url }}">
      <h3>{{ post.title }}</h3>
      <!--<p>{{ post.preview }}</p>-->
    </a>
  </div>
  {% endfor %}

  {% endfor %}

  
  <!--
  <ul class="posts">
    {% for post in site.posts %}
    <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>-->

  
</div>
