---
---

@import "{{ site.theme }}";

body {
    background: #fdfdfd;
    color: #494e52;
    font-family: -apple-system,".SFNSText-Regular","San Francisco","Roboto","Segoe UI","Helvetica Neue","Lucida Grande",Arial,sans-serif;
}

header {
    background: none;
    border-bottom: 1px dashed #ccc;
}

header h1 {
    color: none;
    
}

#main_content h1 {
    font-size: 28px;
}

h1, h2, h3, h4, h5, h6 {
    color: none;
    font-weight: 700;
    font-family: -apple-system,".SFNSText-Regular","San Francisco","Roboto","Segoe UI","Helvetica Neue","Lucida Grande",Arial,sans-serif;
}

a {
    color: #52adc8;
    text-shadow: unset;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    font-weight: 600;
}

ul {
    padding-left: 18px;
}

ul li {
    list-style-image: unset;
}

ol {
    padding-left: 28px;
}

pre {
    font-size: 14px;
}