---
---

@import "{{ site.theme }}";

body {
    background: #fdfdfd;
    color: #111;
}

header {
    background: none;
    border-bottom: 1px dashed #ccc;
}

header h1 {
    color: unset;
}

#main_content h1 {
    font-size: 28px;
}

h1, h2, h3, h4, h5, h6 {
    color: unset;
    font-weight: 700;
}

a {
    color: #111;
    text-shadow: unset;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    font-weight: 600;
}

ul {
    padding-left: 18px;
}

ul li {
    list-style-image: unset;
}

ol {
    padding-left: 28px;
}